body, html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vh; */
}

.login-warpper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.login-body {
    background: url(images/backbground.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-container {
    display: flex;
    background-color: white;
    border: none;
    border-radius: 23px;
    width: 700px;
    max-width: 800px;
    min-width: 550px;
    height: 650vh;
    max-height: 650px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    
}

.login-header {
    display: block;
    margin: 25px auto;
}

.login-form { 
    display: block;
    width: 100%;
    text-align: center;

}

.input-field {
    width: 100%;
    color: lightgray;
    border: 1px solid lightgray;
    border-radius: 6px;
    line-height: 30px;
    padding: 5px 16px;
    margin: 13px 0;
    font-weight: lighter;
    font-size: medium;
    width: 100%;
    max-width: 500px;
}

.link-forgot-password{
    display: block;
    width: 100%;
    width: 530px;
    margin: 5px auto;
    margin-bottom: 15px;
    text-align: right;
    font-size: medium;
}

.link-text {
    color: #5da7fc;
    text-decoration: none;
    font-weight: bold;

}

.login-form-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-form-button {
    background-color: #1c84ff;
    border: none;
    color: white;
    padding: 15px 48px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
    max-width: 550px;
    transition: 300ms;
}

.login-form-button:hover {
    background-color: #4CAF50;
    color: white;
    opacity: 70%;
}

.login-footer {
    display: flex;
    width: 100%;
    width: 550px;
    font-size: medium;
    margin-top: 30px;
}

.link-text {
    color: #5da7fc;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.link-text:hover {
    color: #4CAF50;
    opacity: 70%;   
    text-decoration: underline;
}